aside{
  width: 360px;
  height: auto;
  
  .container{
    background: var(--fundoCard);
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
    border-radius: 7px;

  .products{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30vh;

    strong{
      color: var(--link);
      margin-bottom: .5rem;
    }
  
    .bagItem{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 1rem;
  
      .productImg{
        width: 50px;
      }
  
      .type{
        color: var(--preto);
        font-size: 12px;
      }
  
      .itemPrice{
        color: var(--validar);
        font-size: 12px;
      }
  
      .info{
        display: flex;
        flex-direction: column;

        .productName{
          color: var(--campos);
          font-size: 14px;
        }
      }
  
      .bagBtns{
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 100%;
        background: var(--link);
        display: flex;
        align-items: center;
        justify-content:center;
        gap: 5px;
        height: 100%;
        padding: .2rem;
        
        button{
          background: none;
          color: #fff;
          font-size: 14px;
  
          img{
            width: 8px;
          }
        }
      }
    }
  }

  .allPrices{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .3rem;
    font-size: 14px;

    .subtotal{
      display: flex;
      justify-content: space-between;
      
      strong{
        font-weight: 600;
      }
    }
    .deliver{
      display: flex;
      justify-content: space-between;
      strong{
        font-weight: 600;
      }
    }
    .total{
      display: flex;
      justify-content: space-between;
      strong, span{
        font-weight: 600;
      }
      strong{
        color: var(--validar);
      }
    }
  }
  }
  

  .buyBtns{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    
    button{
      height: 5.5vh;
      font-weight: 500;
      font-family: 'Gordita';

      & + button{
        margin-top: .5rem;
      }
    }

    .continue{
      background: var(--fundoCard);
      color: var(--campos);
    }
    .confirm{
      background: var(--link);
      color: #fff;
    }
  }
}