nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;

  background: #F7F9FC;
  height: 12.8vh;
  width: 100%;

  div{
    display: flex;
    a{
      position: relative;
      margin-left: 10vw;

      &:before{
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        background: var(--link);
        top: calc(12.8vh - 32px);
      }
    }
  }

  .user{
    display: flex;
    gap: 1rem;
    align-items: center;

    div{
      height: 48px; width: 48px;
      background: #fff; 
      border-radius: 50%;
      display: flex;
      align-items: center;
      place-content: center;

      .bag{
        height: 18;
      }
    }
  }
}